
    
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Dashboard </h2>
                <p>Whole data about your business here</p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"> <i class="icon material-icons md-people"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Total Users</h6>
                            <span><%- userCount  %></span>
                            
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"> <i class="icon material-icons md-shopping_bag"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Total Products</h6>
                            <span><%- productCount  %></span>
                            
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="/admin/products/stocks" style="text-decoration: none; color: inherit;">
                    <div class="card card-body mb-4 border-danger">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-danger-light">
                                <i class="icon material-icons md-warning"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1 card-title text-danger">Out of Stock Products</h6>
                                <span class="text-danger"><%= outOfStock %></span>
                            </div>
                        </article>
                    </div>
                </a>
            </div>
            
            
            
         
        </div>
        
        
        
    </section> <!-- content-main end// -->
    

