<% if (status==="Return Rejected") { %>
    <div id="progress-status"
        class="progress-step mb-6
            <%= status === 'Return Rejected' ? 'active' : '' %> 
            <%= status === 'Return Rejected' ? 'current' : '' %> ">
        
        <span class="progress-icon">
            <i class="<%= status === 'Return Rejected' ? 'fas fa-times-circle' : 
                        (status === 'Return Requested' ? 'fas fa-undo-alt' : '') %>"></i>
        </span>
        
        <p>
            <%= status === 'Return Rejected' ? 'Return Request Rejected' : 
                (status === 'Return Requested' ? 'Return Requested' : '') %>
        </p>
    </div>

<% }


addToCart: async (req, res) => {
    try {
        const { productId, quantity } = req.body;
        const userId = req.session.user;

        if (!productId) {
            return res.status(400).json({ success: false, error: "Product ID is required." });
        }

        // Find the product and populate its category
        const product = await Product.findById(productId).populate('category');
        if (!product) {
            return res.status(404).json({ success: false, error: "Product not found." });
        }

        if (product.stock <= 0) {
            return res.status(400).json({ success: false, error: "Product is out of stock." });
        }

        let cart = await Cart.findOne({ userId });

        if (!cart) {
            cart = new Cart({ userId, products: [] });
        } else {
            const productInCart = cart.products.find(
                (item) => item._id.toString() === productId
            );
            if (productInCart) {
                return res.status(400).json({ success: false, error: "Product already in cart." });
            }
        }

        // Get the category of the product and check if it has an offer
        const category = product.category;
        let productPrice = product.price;

        if (category && category.onOffer) {
            // Apply the category discount percentage only for this product
            const categoryOffer = category.offerDiscountPersantage || 0;
            productPrice = Math.round(product.price * (1 - categoryOffer / 100))
        }

        // Add the product with the calculated price to the cart
        cart.products.push({
            _id: product._id,
            quantity: parseInt(quantity),
            price: productPrice,
            categoryDiscount:category.offerDiscountPersantage,
        });

        // Recalculate the total product count and total price for the cart
        cart.totalProduct = cart.products.reduce(
            (total, item) => total + item.quantity,
            0
        );
        cart.totalPrice = cart.products.reduce(
            (total, item) => total + item.quantity * item.price,
            0
        );
        
        // Reset other fields as necessary
        cart.couponDiscount = 0;
        cart.coupon = null;
        cart.shipingCharg = "Free Delivery";
        cart.offerAppliedTotalAmount = cart.totalPrice;
        
        await cart.save();

        res.json({ success: true });
    } catch (error) {
        console.error("Error adding to cart:", error);
        res.status(500).json({ success: false, error: "An error occurred while adding the product to the cart." });
    }
},